openapi: 3.1.0
info:
  title: Glama Gateway Auth Models API
  version: 1.0.0
  description: 'Best-effort OpenAPI 3.1 description of the Glama Gateway API, an

    OpenAI-compatible multi-provider AI gateway with completion-request

    metadata and PKCE-based auth code exchange. Sourced from

    https://gateway.glama.ai/openapi.json.

    '
  contact:
    name: Glama Gateway
    url: https://glama.ai/ai/gateway
servers:
- url: https://gateway.glama.ai
  description: Glama Gateway production
security:
- bearerAuth: []
tags:
- name: Models
paths:
  /openai/v1/models:
    get:
      summary: List models (OpenAI-compatible)
      operationId: listModelsOpenAi
      tags:
      - Models
      responses:
        '200':
          description: Models
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                        owned_by:
                          type: string
  /v1/models:
    get:
      summary: List models with Glama metadata (pricing, capabilities)
      operationId: listModels
      tags:
      - Models
      responses:
        '200':
          description: Models with pricing/capabilities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Model'
components:
  schemas:
    Model:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
        context_window:
          type: integer
        capabilities:
          type: array
          items:
            type: string
        pricing:
          type: object
          properties:
            input_per_million:
              type: number
            output_per_million:
              type: number
            cache_read_per_million:
              type: number
            cache_write_per_million:
              type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Glama API Key
